/* POSTER */
.imagen img {
    width: 100%;
    border-radius: 7px;
}

@media (max-width: 576px) {
    .poster-boton {
        align-items: center;
    }
    #trailerBtn {
        width: 80%;
        margin-top: 15px;
    }
    .imagen {
        width: 80%;
        align-content: center;
    }
}

@media (min-width: 577px) {
    .poster-boton {
        align-items: start;
    }
    #trailerBtn {
        width: 95%;
        height: 11%;
        margin-top: 30px;
    }
    .imagen {
        width: 95%;
        align-content: center;
    }
}
/* POSTER */

/* LINK GENEROS */
.genero-link {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

.genero-link:hover {
    text-decoration: underline;
    opacity: 1;
}
/* LINK GENEROS */

/* CALIFICACION Y RESEÑAS */
.calificacion {
    background-color: #14181D;
    border-radius: 8px;
    font-size: 1.2rem;
}

.estrellas {
    font-size: 1.5rem;
    color: #FFD700; /* Color dorado para las estrellas */
}

.reseñas {
    background-color: #14181D;
    border-radius: 8px;
    height: 330px;
}

.reseñas-list {
    height: 273px;
    overflow-y: auto;
}

.reseña {
    font-size: 0.9rem;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.reseña:last-child {
    border-bottom: none;
}

.btn {
    font-size: 1rem;
    border-radius: 8px;
}
/* CALIFICACION Y RESEÑAS */